<mat-card class="question-card" *ngIf="question">
  <div class="question__wrapper">
    <h1>Question 1:</h1>
    <h2>{{ question.slogan }}</h2>
  </div>

  <mat-form-field class="answer__inp" appearance="fill">
    <mat-label>Your Answer</mat-label>
    <input
      matInput
      type="text"
      placeholder="Enter your answer"
      #clientAnswerInp
    />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    class="answer__btn"
    (click)="onAnswerSubmit()"
  >
    Submit
  </button>
  <div *ngIf="currentMovieAnswerStatus$ | async">
    <p>
      Your Answer:
      <b
        [ngStyle]="{
          color: question.isAnswerCorrect ? 'green' : 'red'
        }"
        >{{ question.answer }}</b
      >
    </p>
    <p>
      Correct Answer: <b>{{ question.name }}</b>
    </p>
  </div>
</mat-card>
<tr></tr>
<mat-card class="hints-card" *ngIf="question">
  <h1>Hints:</h1>

  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Hint by genres </mat-panel-title>
        <mat-panel-description>
          This hint will cost you 1 point
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ getGenres() }}</p>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Hint by year </mat-panel-title>
        <mat-panel-description>
          This hint will cost you 1 point
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ question.year }}</p>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Hint by poster </mat-panel-title>
        <mat-panel-description>
          This hint will cost you 1 point
        </mat-panel-description>
      </mat-expansion-panel-header>
      <img class="poster" src="{{ question.posterUrl }}" alt="poster" />
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
