.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.example-form-field {
  width: 200px;
}

.question__wrapper {
  flex-basis: 100%;
}

.question-card{
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.answer {
  &__btn {
    flex-basis: 30%;
  }
  &__inp {
    flex-basis: 65%;
  }
}

.hints_title {
  flex-basis: 100%;
  text-align: center;
}

.hints-card {
  width: 50vw;
}

.poster {
  max-width: 100%;
  filter: blur(13px);
}
