<mat-card class="question-card" *ngIf="currentMovie$ | async as question">
  <div class="question__wrapper">
    <h1>Question {{ currentMovieIndex$ | async }}</h1>
    <h2>{{ question.slogan }}</h2>
  </div>

  <mat-form-field class="answer__inp" appearance="fill">
    <mat-label>Your Answer</mat-label>
    <input
      matInput
      type="text"
      placeholder="Enter your answer"
      #clientAnswerInp
    />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    class="answer__btn"
    (click)="onAnswerSubmit()"
  >
    Submit
  </button>
  <div *ngIf="currentMovieAnswerStatus$ | async">
    <p>
      Your Answer:
      <b
        [ngStyle]="{
          color: question.isAnswerCorrect ? 'green' : 'red'
        }"
        >{{ question.answer }}</b
      >
    </p>
    <p>
      Correct Answer: <b>{{ question.name }}</b>
    </p>
  </div>

  <tr></tr>
  <h2 class="hints_title">Hints:</h2>

  <mat-accordion multi #accordion>
    <mat-expansion-panel
      [expanded]="question.tips[0].isUsed"
      [disabled]="question.tips[0].isUsed"
      (opened)="expandTip(0)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Hint by genres </mat-panel-title>
        <mat-panel-description>
          This hint will cost you 10 points
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ getGenresStr(question.genres) }}</p>
    </mat-expansion-panel>

    <mat-expansion-panel
      [expanded]="question.tips[1].isUsed"
      [disabled]="question.tips[1].isUsed"
      (opened)="expandTip(1)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Hint by year </mat-panel-title>
        <mat-panel-description>
          This hint will cost you 20 points
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ question.year }}</p>
    </mat-expansion-panel>

    <mat-expansion-panel
      [expanded]="question.tips[2].isUsed"
      [disabled]="question.tips[2].isUsed"
      (opened)="expandTip(2)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Hint by poster </mat-panel-title>
        <mat-panel-description>
          This hint will cost you 30 points
        </mat-panel-description>
      </mat-expansion-panel-header>
      <img class="poster" src="{{ question.posterUrl }}" alt="poster" />
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
<tr></tr>
<!-- <mat-card class="hints-card" *ngIf="question"> -->

<!-- </mat-card> -->
