<div class="viewport">
  <div class="scene3D-container">
    <div *ngIf="categories" class="category__container scene3D">
      <h3 class="movie-quiz-title" #title>Movie Quiz</h3>
      <mat-card
        (click)="onSelectCategory(i)"
        *ngFor="let category of categories; let i = index"
        id="i"
        class="example-card"
        [ngStyle]="{
          transform:
            'translate3d(' +
            400 * i +
            'px, ' +
            -200 * i +
            'px,' +
            -200 * i +
            'px)',
          opacity: 100 - 50 * i + '%'
        }"
      >
        <label class="card-title">{{ category.name }}</label>
      </mat-card>
    </div>
  </div>
</div>
