<div *ngIf="categories" class="category__container">
  <mat-card
    (click)="onSelectCategory(category.id)"
    *ngFor="let category of categories"
    class="example-card"
    data-category-id="category.id"
  >
    <mat-card-header class="centered-content">
      <mat-card-title>{{ category.name }}</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="https://is2-ssl.mzstatic.com/image/thumb/Purple3/v4/0e/b1/f9/0eb1f920-7f81-bf8c-377d-4e0bf803eb78/source/512x512bb.jpg"
      alt="Photo"
    />
    <mat-card-actions class="centered-content"> </mat-card-actions>
  </mat-card>
</div>
