<div class="game__container" *ngIf="status === 2">
  <div class="controls">
    <button mat-raised-button color="primary" (click)="onSkipQuestion()">
      Skip Question
    </button>
    <h3 class="questions-left">
      Questions Left: <b>{{ questionsLeftStr }}</b>
    </h3>
    <h3 class="score">
      Score: <b>{{ score }}</b>
    </h3>
  </div>
  <tr></tr>
  <div class="movie__container" *ngIf="currentMovie">
    <app-question-card [question]="currentMovie"></app-question-card>
  </div>
</div>

<div class="congratulation" *ngIf="status === 3">
  congratulation, Score {{ score }}
</div>

<app-preloader *ngIf="status !== 3 && status !== 2"></app-preloader>
