<div
  class="game__container"
>
  {{ gameStatus$ | async }}
  <div class="movies__container" *ngIf="moviesInGame$ | async as movies">
    <div *ngFor="let movie of movies">
      <p>{{ movie.id }}</p>
      <p>{{ movie.name }}</p>
    </div>
  </div>
</div>

<ng-template #preloader>
  <app-preloader></app-preloader>
</ng-template>

<!-- <button (click)="goToResults()">go to results</button> -->

<!-- *ngIf="(gameStatus$ | async) as gameStatus === 0" -->
<!-- *ngIf="(gameStatus$ | async) === 2; else preloader" -->
