:host {
  display: flex;
  justify-content: center;
}

.controls {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score,
.questions-left,
.timer {
  margin: 0;
}

.game {
  &__container {
    width: 90%;
    max-width: 800px;
    display: flex;
    justify-content: center;
  }
}
