/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");

html,
body {
  min-height: 100vh;
}
body {
  position: relative;
  z-index: 1;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Aboreto", cursive, sans-serif;
  width: 100%;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

// backround image with opacity
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -1;
  background: url("./assets/background.png") dimgray;
}

body::-webkit-scrollbar {
  display: none;
}
